.card {
  background: #fff;
  border-radius: 2px;
  height: 225px;
  margin: 1rem;
  position: relative;
  width: 225px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  margin-top: 60px;
  float: left;

}

.card > .img-container {
  height: 60%;
  overflow:hidden;
  text-align: left;
  background:rgb(56, 57, 58);
}
.card > .img-container > img {
  width: 100%
}

.card > .content {
  padding-left: 1 rem;
  padding-right: 1 rem;
  font-size: 13px;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 2px;
}

.card > .remove {
  color: white ;
  font-size: 48px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: green;
}
